/*----------------
 Google Font
 -----------------*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

 /*----------------------
  common css
  ----------------------*/
 *{
     margin: 0;
 }
 
 body{
     font-family: 'Poppins', sans-serif;
     background-color: #F3F1FF;
 }
 
 main{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 50px;
 }
 
 .container{
     width: 870px;
     background-color: #fff;
     padding: 30px;
 }
 
 /*--------------------
 header Start
 ----------------------*/
 header {
     background: #562EFF;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .header-container {
     background: transparent;
     display: flex;
     justify-content: space-between;
     padding: 6px 0px;
 }
 
 .logo img {
     width: 40px;
     height: 51px;
 }
 
 .logo {
     display: flex;
     align-items: center;
 }
 
 .logo span {
     color: #fff;
     font-size: 24px;
     font-weight: 500;
     margin-left: 10px;
 }
 
 nav ul li {
     list-style: none;
     align-items: center;
     justify-content: center;
     padding: 0px 20px;
 }
 
 nav ul {
     display: flex;
     align-items: center;
 }
 
 nav ul li a {
     text-decoration: none;
     color: #fff;
 }
 
 img.porfile {
     width: 51px;
     height: 51px;
 }
 /*-------------------
 Header End
 ----------------------*/
 
 
 /*-----------------------
 top-player css Start
 -------------------------*/
 .title h2 {
     color: #562EFF;
     font-size: 24px;
     font-weight: 500;
 }
 
 .players {
     display: flex;
     justify-content: flex-start;
 }
 
 .player-wrapper {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     row-gap: 30px;
     border-bottom: 1px solid #ddd;
     padding: 30px 0px;
 }
 
 .players img{
     width: 56px;
     height: 56px;
 }
 
 .players h3 {
     margin-left: 16px;
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-weight: 500;
 }
 /*------------------------------
 Top players css end
 --------------------------------*/
 
 
 /*-----------------------------------
 Top blog css start
 --------------------------------------*/
 .blog-wrapper {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     row-gap: 30px;
     padding: 30px 0px;
 }
 
 .blogs {
     display: flex;
     align-items: center;
 }
 
 .blogs img {
     width: 177px;
     height: 117px;
 }
 
 .blog-description {
     margin-left: 16px;
 }
 
 .blog-description h3 {
     font-size: 20px;
     font-weight: 500;
 }
 
 .blog-description p {
     color: #9F9F9F;
 }
 
 .blog-description p span {
     color: #562EFF;
 }
 /*------------------------------
 Top blog End
 ----------------------------------*/
 
 /*-------------------------------
 Lates Course Start
 ---------------------------------*/
 section.lates-course {
     margin-top: 30px;
 }
 
 .course-wrapper {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin: 30px 0px;
     column-gap: 30px;
 }
 
 .course {
     margin: 0px 10px;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 3px 3px 12px 2px #ddd;
 }
 
 .course img {
     width: 224px;
     height: 104px;
 }
 
 .course h3 {
     font-size: 20px;
     font-weight: 500;
     font-family: 'Roboto', sans-serif;
     margin: 10px 0px;
 }
 
 .course p {
     font-size: 14px;
     color: #ED6B4F;
     font-family: 'Roboto', sans-serif;
     margin: 5px 0px;
 }
 
 .review {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 10px 0px;
 }
 
 .rate {
     display: flex;
     align-items: center;
 }
 
 .rate img {
     width: 12px;
     height: 11px;
 }
 
 i.fa-solid.fa-star-half-stroke {
     font-size: 10px;
     color: #FFC014;
 }
 
 .rate span {
     margin-left: 8px;
     font-size: 14px;
     color: #A2A2A2;
 }
 
 .time img {
     width: 20px;
     height: 20px;
     margin-right: 8px;
 }
 
 .time {
     display: flex;
     align-items: center;
     background: #FFE4E8;
     border-radius: 25px;
     padding: 5px 10px;
 }
 
 .time span {
     font-size: 14px;
     color: #FF4A60;
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;
 }
 /*---------------------------------
 Latest Course End
 ----------------------------------*/
 
 /* ----------------------
 Responsive
 -----------------------*/
 
 /*------------------------
 Mobile Device
 ------------------------*/
 
 @media only screen and (max-width:688px) {
    
    .container {
        width: 100%;
        padding: 10px;
    }
      
    .player-wrapper {
         grid-template-columns: repeat(2, 1fr);
    }

    .players {
        align-items: center;
    }
    
    .top-blog {
        margin-top: 20px;
    }

    .blog-wrapper {
         grid-template-columns: repeat(1, 1fr);
    }
    
    .top-blog {
        margin-top: 20px;
    }

    .blogs {
        flex-direction: column;
        align-items: start;
    }
    
    .blog-description {
        margin-left: 0px;
        margin-top: 15px;
    }

    img.course-image {
        width: 100%;
    } 
    
    .course-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .course {
        margin: 3% 0px;
    }
    
 }